In [3]:
import pandas as pd

In [4]:
import glob

In [5]:
file_pattern = "C:/Users/vbodavul/Downloads/archive (2)/202[23]*-divvy-tripdata.csv"

In [6]:
file_list = glob.glob(file_pattern)

In [7]:
file_list

['C:/Users/vbodavul/Downloads/archive (2)\\202205-divvy-tripdata.csv',
 'C:/Users/vbodavul/Downloads/archive (2)\\202206-divvy-tripdata.csv',
 'C:/Users/vbodavul/Downloads/archive (2)\\202207-divvy-tripdata.csv',
 'C:/Users/vbodavul/Downloads/archive (2)\\202208-divvy-tripdata.csv',
 'C:/Users/vbodavul/Downloads/archive (2)\\202210-divvy-tripdata.csv',
 'C:/Users/vbodavul/Downloads/archive (2)\\202211-divvy-tripdata.csv',
 'C:/Users/vbodavul/Downloads/archive (2)\\202212-divvy-tripdata.csv',
 'C:/Users/vbodavul/Downloads/archive (2)\\202301-divvy-tripdata.csv',
 'C:/Users/vbodavul/Downloads/archive (2)\\202302-divvy-tripdata.csv',
 'C:/Users/vbodavul/Downloads/archive (2)\\202303-divvy-tripdata.csv',
 'C:/Users/vbodavul/Downloads/archive (2)\\202304-divvy-tripdata.csv']

In [8]:
df = pd.concat((pd.read_csv(file) for file in file_list))

In [9]:
df.count()

ride_id               5157722
rideable_type         5157722
started_at            5157722
ended_at              5157722
start_station_name    4429493
start_station_id      4429361
end_station_name      4379246
end_station_id        4379105
start_lat             5157722
start_lng             5157722
end_lat               5152461
end_lng               5152461
member_casual         5157722
dtype: int64

In [11]:
print(df.count())

ride_id               5157722
rideable_type         5157722
started_at            5157722
ended_at              5157722
start_station_name    4429493
start_station_id      4429361
end_station_name      4379246
end_station_id        4379105
start_lat             5157722
start_lng             5157722
end_lat               5152461
end_lng               5152461
member_casual         5157722
dtype: int64

In [12]:
df['started_at'] = pd.to_datetime(df['started_at'])
df['ended_at'] = pd.to_datetime(df['ended_at'])
df.drop_duplicates(inplace=True)

In [14]:
df.to_csv('C:/Users/vbodavul/Downloads/archive (2)/merged_and_cleaned_tripdata.csv', index=False)

In [15]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,EC2DE40644C6B0F4,classic_bike,2022-05-23 23:06:58,2022-05-23 23:40:19,Wabash Ave & Grand Ave,TA1307000117,Halsted St & Roscoe St,TA1309000025,41.891466,-87.626761,41.943670,-87.648950,member
1,1C31AD03897EE385,classic_bike,2022-05-11 08:53:28,2022-05-11 09:31:22,DuSable Lake Shore Dr & Monroe St,13300,Field Blvd & South Water St,15534,41.880958,-87.616743,41.886349,-87.617517,member
2,1542FBEC830415CF,classic_bike,2022-05-26 18:36:28,2022-05-26 18:58:18,Clinton St & Madison St,TA1305000032,Wood St & Milwaukee Ave,13221,41.882242,-87.641066,41.907655,-87.672552,member
3,6FF59852924528F8,classic_bike,2022-05-10 07:30:07,2022-05-10 07:38:49,Clinton St & Madison St,TA1305000032,Clark St & Randolph St,TA1305000030,41.882242,-87.641066,41.884576,-87.631890,member
4,483C52CAAE12E3AC,classic_bike,2022-05-10 17:31:56,2022-05-10 17:36:57,Clinton St & Madison St,TA1305000032,Morgan St & Lake St,TA1306000015,41.882242,-87.641066,41.885779,-87.651025,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426585,8B441A6C436E9900,classic_bike,2023-04-29 21:20:21,2023-04-29 21:30:19,Halsted St & 18th St,13099,Blue Island Ave & 18th St,13135,41.857506,-87.645991,41.857556,-87.661535,casual
426586,3980D64BE11540F1,classic_bike,2023-04-24 09:16:05,2023-04-24 09:22:27,Halsted St & 18th St,13099,Blue Island Ave & 18th St,13135,41.857506,-87.645991,41.857556,-87.661535,casual
426587,3EF4B49FF7DAA02C,classic_bike,2023-04-18 07:53:51,2023-04-18 07:59:16,Franklin St & Jackson Blvd,TA1305000025,Clark St & Randolph St,TA1305000030,41.877708,-87.635321,41.884576,-87.631890,casual
426588,210B2ED6583DC231,classic_bike,2023-04-29 07:33:55,2023-04-29 07:38:57,Michigan Ave & Lake St,TA1305000011,Clark St & Randolph St,TA1305000030,41.886022,-87.624398,41.884576,-87.631890,casual
426589,D29CB39B9E3FC46A,electric_bike,2023-04-18 08:00:32,2023-04-18 08:02:35,Franklin St & Jackson Blvd,TA1305000025,Clark St & Ida B Wells Dr,TA1305000009,41.878134,-87.635255,41.875933,-87.630585,casual

In [16]:
df['started_at'] = pd.to_datetime(df['started_at'])

In [19]:
# Calculate trip duration in minutes
df['trip_duration_minutes'] = (df['ended_at'] - df['started_at']).dt.total_seconds() / 60

# Display the first few rows to verify the new column
print(df[['started_at', 'ended_at', 'trip_duration_minutes']].head())

           started_at            ended_at  trip_duration_minutes
0 2022-05-23 23:06:58 2022-05-23 23:40:19              33.350000
1 2022-05-11 08:53:28 2022-05-11 09:31:22              37.900000
2 2022-05-26 18:36:28 2022-05-26 18:58:18              21.833333
3 2022-05-10 07:30:07 2022-05-10 07:38:49               8.700000
4 2022-05-10 17:31:56 2022-05-10 17:36:57               5.016667

In [20]:
bike_descriptive_stats = df['trip_duration_minutes'].describe()

In [21]:
print(bike_descriptive_stats)

count    5.157722e+06
mean     1.888451e+01
std      1.721436e+02
min     -1.687000e+02
25%      5.616667e+00
50%      9.950000e+00
75%      1.791667e+01
max      4.138725e+04
Name: trip_duration_minutes, dtype: float64

In [23]:
# Step 3: Data Integrity Checks
# Check for negative trip durations, which may indicate data issues

negative_durations = df[df['trip_duration_minutes'] < 0]
if not negative_durations.empty:
    print("\nFound negative trip durations, indicating potential data issues:")
    print(negative_durations[['started_at', 'ended_at', 'trip_duration_minutes']])
    
    # Decide on a handling strategy; for demonstration, we'll remove these rows
    df = df[df['trip_duration_minutes'] >= 0]
    
else:
    print("\nNo negative trip durations found.")

Found negative trip durations, indicating potential data issues:
                started_at            ended_at  trip_duration_minutes
592385 2022-05-30 11:06:29 2022-05-30 11:06:17              -0.200000
126109 2022-06-07 19:15:39 2022-06-07 17:05:37            -130.033333
126532 2022-06-07 19:14:46 2022-06-07 17:07:45            -127.016667
278805 2022-06-23 19:22:57 2022-06-23 19:21:46              -1.183333
301277 2022-06-07 19:14:47 2022-06-07 17:05:42            -129.083333
...                    ...                 ...                    ...
189347 2023-02-04 13:08:08 2023-02-04 13:04:52              -3.266667
361967 2023-04-04 17:15:08 2023-04-04 17:15:05              -0.050000
361983 2023-04-19 14:47:18 2023-04-19 14:47:14              -0.066667
362063 2023-04-27 07:51:14 2023-04-27 07:51:09              -0.083333
363359 2023-04-06 23:09:31 2023-04-06 23:00:35              -8.933333

[94 rows x 3 columns]

In [28]:
# saving the cleaned DataFrame to a new file
df.to_csv('C:/Users/vbodavul/Downloads/archive (2)/cleaned_bike_data.csv', index=False)